$main-color-red: #FF7E5F;
$main-color-orange: #FEB567;
$color-bright:
#FFF4E9;
$color-header-footer:#FFCA93;
$color-brown: #7F4B13;
$color-item:
#FFDFBE;
$color-button-pressed:#FC8F1A;
$color-white:#FFFFFF;
$color-buttons-footer:
#C9955D;
$color-input:
#FFECD8
